body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    max-width: 400px;
    /* margin-top: 20px; */
    margin: 35px auto auto auto;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #ccc;
    background-color: rgb(172, 170, 175);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, select, button {
        
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 80%;
    padding: 12px;
    background-color: rgb(215, 199, 228);
    color: rgb(32, 31, 31);
    border: none;
    
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: rgb(184, 156, 212);
}
button:focus {
    outline: none;
}
